h1 {
    color: #8c34eb;
    text-align: center;
}

p {
    color: red;
}

h2 {
  text-align: center;
  color: purple;
}

body {
      font-family: sans-serif;
}

footer {
  position: fixed;
left: 10;
bottom: 0;
width: 100%;
}

h3 {
  color: lightblue;
}

form {
  size: 50%
}
