h1 {
    color: #8c34eb;
    text-align: center;
    font-family: monospace;
}

p {
    color: red;
}

h2 {
  text-align: center;
  color: purple;
}

body {
      font-family: monospace;
}

footer {
  position: fixed;
left: 10;
bottom: 0;
width: 100%;
}

h3 {
  color: lightblue;
}

button {
  color: blue;
}

button:hover {
  color: #8c34eb;
}

button:focus {
  color: mediumpurple;
}

.form {
  padding: 20px;
  margin-left: 30px;
}
